<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../assets/images/lady3.jpg"
        class="img-fluid"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h1>CLOTHING MADE FOR YOU!</h1>
      <p>Trending from men and women style collection</p>
      <div class="shop-button">
        <a id="a" href="">SHOP WOMEN'S</a>
        <a id="b" href="">SHOP MEN'S</a>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../assets/images/cart2.jpg"
        class="img-fluid"
        alt="Random second slide"
      />
    </div>
        <div class="carousel-caption">
          <h1>CLOTHING MADE FOR YOU!</h1>
          <p>Trending from men and women style collection</p>
          <div class="shop-button">
            <a id="a" href="">SHOP WOMEN'S</a>
            <a id="b" href="">SHOP MEN'S</a>
          </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../assets/images/brand.jpg"
        class="img-fluid"
        alt="Random third slide"
      />
    </div>
    <div class="carousel-caption">
      <h1>CLOTHING MADE FOR YOU!</h1>
      <p>Trending from men and women style collection</p>
      <div class="shop-button">
        <a id="a" href="">SHOP WOMEN'S</a>
        <a id="b" href="">SHOP MEN'S</a>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
