<div class="container">
  <h3 class="h3 text-center text-dark mb-4">Available Products</h3>
  <!-- First row of products -->
  <div class="products">
    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/shirt_shoe.jpg" />
          <img class="pic-2" src="../../assets/images/shirt_shoe.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Shirt and Shoe</a></h3>
        <div class="price">GHS20</div>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/shoe.jpg" />
          <img class="pic-2" src="../../assets/images/shoe.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Men's shoe</a></h3>
        <div class="price">GHS30</div>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/collection.jpg" />
          <img class="pic-2" src="../../assets/images/collection.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Shirt Collection</a></h3>
        <div class="price">GHS40</div>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/hat.jpg" />
          <img class="pic-2" src="../../assets/images/hat.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Men's Hat</a></h3>
        <div class="price">GHS15</div>
      </div>
    </div>
  </div>
  <hr />

  <!-- Second products -->
  <div class="products">
    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/suit.jpg" />
          <img class="pic-2" src="../../assets/images/suit.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Suit Collections</a></h3>
        <div class="price">GHS100</div>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/yel_bag.jpg" />
          <img class="pic-2" src="../../assets/images/yel_bag.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Ladies' Bag</a></h3>
        <div class="price">GHS40</div>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/bag3.jpg" />
          <img class="pic-2" src="../../assets/images/bag3.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Gucci Bag</a></h3>
        <div class="price">GHS50</div>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/leather_bag.jpg" />
          <img class="pic-2" src="../../assets/images/leather_bag.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Leather Bag</a></h3>
        <div class="price">GHS55</div>
      </div>
    </div>
  </div>
  <!-- End of second product gallery-->
  <hr style="margin: 10px" />
  <!-- Third products of products -->
  <div class="products">
    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/rolex_silver.jpg" />
          <img class="pic-2" src="../../assets/images/rolex_silver.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Rolex Watch</a></h3>
        <div class="price">GHS200</div>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/laptop.jpg" />
          <img class="pic-2" src="../../assets/images/laptop.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Laptop</a></h3>
        <div class="price">GHS100</div>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/camera2.jpg" />
          <img class="pic-2" src="../../assets/images/camera2.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Digital Camera</a></h3>
        <div class="price">GHS90</div>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../../assets/images/camera.jpg" />
          <img class="pic-2" src="../../assets/images/camera.jpg" />
        </a>
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Camera</a></h3>
        <div class="price">GHS15</div>
      </div>
    </div>
  </div>
  <!-- End of Third products of products -->
  <hr style="margin: 30px" />
</div>
<!-- End of main container-->
